<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit <%= campground.name %></h1>
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="campground[name]" value="<%= campground.name %>">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="campground[image]" value="<%= campground.image %>">
        </div>
        <div class="form-group">
          <textarea name="campground[description]" class="form-control" rows="4"><%= campground.description %></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>