<% include ../partials/header %>

<div class="container">

  <h1>This is the show template</h1>
  <p><%= campground.name %></p>
  
  <img src="<%= campground.image %>" alt="">
  
  <p><%= campground.description %></p>
  
  <p><a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add a Comment</a></p>
  
  <% campground.comments.forEach(function(comment) { %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
  <% }); %>

</div>

<% include ../partials/footer %>